body {
  margin: 0;
}

.bg {
  position: fixed;
  inset: 0;
  background: url("AliZonebackground.jpg") center/cover no-repeat;
  z-index: -1;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
}

.main {
  padding-top: 200px; /* KÉO TẤT CẢ XUỐNG */
}

.card {
  width: 520px;
  padding: 32px;
  border-radius: 20px;
  backdrop-filter: blur(12px);
}

